<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>lxynox.cmdperformance</string>
	<key>category</key>
	<string>Random</string>
	<key>connections</key>
	<dict>
		<key>166805CD-0A0D-47D6-8402-3D624AA8A1C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>092404CF-1725-4C21-9F53-36C1F06C5CC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>238369FE-0AA0-403A-A5DE-F543B634D42E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9304C531-950D-4D88-802A-90913DE25BC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71AC43D4-17A7-468B-995E-70872CEC79A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>166805CD-0A0D-47D6-8402-3D624AA8A1C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E03065B-3CD2-4278-86A6-8A2B7799C6CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>092404CF-1725-4C21-9F53-36C1F06C5CC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9304C531-950D-4D88-802A-90913DE25BC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>166805CD-0A0D-47D6-8402-3D624AA8A1C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>lxynox</string>
	<key>description</key>
	<string>Test shell commands execution time in ms</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>cmd perf</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cmd-run</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>if [ -z $cwd ]; then
  cwd=$(pwd)
fi

./node_modules/.bin/run-node index.js "$cwd" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>wrap the shell commands in double/single quote seperated by space</string>
				<key>title</key>
				<string>Type in shell commands in format of: "&lt;cmd1&gt;" "&lt;cmd2&gt;" etc</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>166805CD-0A0D-47D6-8402-3D624AA8A1C3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>largetypetext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>092404CF-1725-4C21-9F53-36C1F06C5CC7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cmd</string>
				<key>subtext</key>
				<string>Set the current working directory for your command first</string>
				<key>text</key>
				<string>Test shell commands performance</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>238369FE-0AA0-403A-A5DE-F543B634D42E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>cwd</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9304C531-950D-4D88-802A-90913DE25BC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>71AC43D4-17A7-468B-995E-70872CEC79A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>8E03065B-3CD2-4278-86A6-8A2B7799C6CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred workflow created by [lxynox](https://github/lxynox), have fun ^_^</string>
	<key>uidata</key>
	<dict>
		<key>092404CF-1725-4C21-9F53-36C1F06C5CC7</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>166805CD-0A0D-47D6-8402-3D624AA8A1C3</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>238369FE-0AA0-403A-A5DE-F543B634D42E</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>71AC43D4-17A7-468B-995E-70872CEC79A0</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>8E03065B-3CD2-4278-86A6-8A2B7799C6CA</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>9304C531-950D-4D88-802A-90913DE25BC3</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://lxynox.github.io/cmd-perform-alfred</string>
</dict>
</plist>
